<div class="pull-left">
  <%= link_to "/", class: "btn btn-primary btn-sm", style: "margin-right: 5px;" do %>
    Subscribe <span class="badge">$9.00</span>
  <% end %>
<%= link_to "Donate", "/", class: "btn btn-primary btn-sm" %>
<%= link_to "/", class: "btn btn-primary btn-sm" do %>
  <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> I Like This
<% end %>
<%= link_to "Share", "/", class: "btn btn-link btn-sm" %>
</div>

<div class="pull-right">
  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> 10,0000
  <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 1,000
</div>

<div class="clearfix"></div>
