<% content_for :page_title do %>
  Things We've Made
<% end %>

<div class="row">
  <%= render partial: "shared/project_panel", collection: @projects, as: "project" %>
</div>
<%= link_to 'New Project', new_project_path if user_signed_in? %>
